.root {
    -fx-font-size: 12px;
}

.dialog-pane .content {
    -fx-text-fill: #111;
}

.sys-btn-box .button {
    -fx-border-width: 0;
}

.svg-button:pressed {
    -fx-border-width: 0;
}

.svg-button {
    -fx-border-width: 0;
}

.menu-bar.svg-button,
.menu-bar.svg-button .container {
    -fx-padding: 0;
    -fx-background-color: transparent;
    -fx-effect: none;
    -fx-border-color: none;
}

.menu-bar.svg-button .menu-button.menu {
    -fx-background-color: transparent !important;
    -fx-effect: none;
    -fx-border-width: 0;
    -fx-padding: 0;
}

.popup-list-view {
    -fx-background-insets: 0;
    -fx-border-width: 0;
    -fx-background-color: transparent;
}

.list-view .list-cell:selected,
.list-cell:hover {
    -fx-background-color: #d4e2ff;
    -fx-text-fill: black !important;
}

.list-cell {
    -fx-border-width: 0;
    -fx-effect: none;
    -fx-focus-color: transparent;
    -fx-border-color: transparent;
}

.tool-bar {
    -fx-padding: 10px;
}

.titled-pane.non-border,
.titled-pane.non-border > *,
.titled-pane.non-border .title {
    -fx-border-width: 0;
    -fx-background-color: transparent;
}

.titled-pane.non-border .title .text {
    -fx-font-size: 1em;
    -fx-fill: -color-base-5;
}

.titled-pane.non-border .arrow {
    -fx-shape: "M 0 0 L 5 5 L 10 0";
    -fx-background-color: -color-base-4;
}

.titled-pane .content {
    -fx-padding: 10 20;
}

.search-button-selected {
    -fx-background-color: -color-button-border-focused, -color-button-bg-hover;
}


/* 整行里所有单元格文字跟随伪类变色 */
.table-row-cell:up .table-cell {
    -fx-text-fill: red;
}

.table-row-cell:down .table-cell {
    -fx-text-fill: green;
}

/* 可选：给行一个很淡的背景提示 */
.table-row-cell:up   { -fx-background-color: rgba(255,0,0,0.06); }
.table-row-cell:down { -fx-background-color: rgba(0,128,0,0.06); }
